//! **************************************************************************
// Written by: Map P.28xd on Thu Oct 18 14:45:21 2012
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "B8" LEVEL 1;
COMP "reset" LOCATE = SITE "A7" LEVEL 1;
COMP "clkout" LOCATE = SITE "P7" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

