//! **************************************************************************
// Written by: Map P.28xd on Wed Oct 03 07:34:19 2012
//! **************************************************************************

SCHEMATIC START;
COMP "A<0>" LOCATE = SITE "G3" LEVEL 1;
COMP "A<1>" LOCATE = SITE "F3" LEVEL 1;
COMP "A<2>" LOCATE = SITE "E2" LEVEL 1;
COMP "A<3>" LOCATE = SITE "N3" LEVEL 1;
COMP "B<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "B<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "B<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "B<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "sum<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "sum<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "sum<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "sum<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "sum<4>" LOCATE = SITE "N5" LEVEL 1;
SCHEMATIC END;

