//! **************************************************************************
// Written by: Map P.28xd on Thu Oct 18 15:11:50 2012
//! **************************************************************************

SCHEMATIC START;
COMP "led" LOCATE = SITE "M5" LEVEL 1;
COMP "rs" LOCATE = SITE "A7" LEVEL 1;
COMP "mclk" LOCATE = SITE "B8" LEVEL 1;
NET "mclk_BUFGP/IBUFG" BEL "mclk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

